header {
     background-color: $primary_bg_color;
     height: 70px;
     .header {
          height: 100%;
          display: flex;
          align-items: center;
          #logo {
               img {
                    width: 50px;
               }
          }
     }
}
